%table.bug_list
  %thead
    %tr
      %th
        ID
        %a(href="#{ build_url('', { :order => 'bug_id.desc', :state => @state_url_option})}") &darr;
        %a(href="#{ build_url('', { :order => 'bug_id.asc',  :state => @state_url_option})}")> &uarr;
      %th
        State
        %a(href="#{ build_url('', { :order => 'state.desc', :state => @state_url_option})}") &darr;
        %a(href="#{ build_url('', { :order => 'state.asc',  :state => @state_url_option})}")> &uarr;
      %th
        Last Changed
        %a(href="#{ build_url('', { :order => 'last_changed.desc', :state => @state_url_option})}") &darr;
        %a(href="#{ build_url('', { :order => 'last_changed.asc',  :state => @state_url_option})}")> &uarr;
      %th
        Description
        %a(href="#{ build_url('', { :order => 'description.desc', :state => @state_url_option }) }") &darr;
        %a(href="#{ build_url('', { :order => 'description.asc',  :state => @state_url_option }) }")> &uarr;
      %th
        Reporter
        %a(href="#{ build_url('', { :order => 'reported_by.desc', :state => @state_url_option})}") &darr;
        %a(href="#{ build_url('', { :order => 'reported_by.asc',  :state => @state_url_option})}")> &uarr;
      %th
        Last Change By
        %a(href="#{ build_url('', { :order => 'last_changed_by.desc', :state => @state_url_option})}") &darr;
        %a(href="#{ build_url('', { :order => 'last_changed_by.asc',  :state => @state_url_option})}")> &uarr;
      %th
        Component
        %a(href="#{ build_url('', { :order => 'component.desc', :state => @state_url_option})}") &darr;
        %a(href="#{ build_url('', { :order => 'component.asc',  :state => @state_url_option})}")> &uarr;
      %th
        Severity
        %a(href="#{ build_url('', { :order => 'severity.desc', :state => @state_url_option})}") &darr;
        %a(href="#{ build_url('', { :order => 'severity.asc',  :state => @state_url_option})}")> &uarr;
  %tbody
    - @bugs.each do |bug|
      %tr{ :style => "background-color: #{bug.current_severity_colour}" }
        %td.bug_id<
          - if bug.comment_count > 0 then
            %span(title="this bug has comments")> *
          =bug.bug_id
        %td.state_name=bug.state_name
        %td.last_changed=bug.last_changed.strftime('%Y-%m-%d %H:%M:%S')
        %td.description
          %p=bug.description
        %td.reported_by=bug.reported_by
        %td.last_changed_by=bug.last_changed_by
        %td.component=bug.component
        %td.severity_name=bug.severity_name